# Mmap SDK OTLP Demo
# 
# This demo replaces the entire SDK in java with something that pushes
# data into an MMAP file as quickly as possible.
#
# A machine-local (but separate container) collector reads the file
# and processes data into actual OTLP which is sent to an
# OpenTelemetry collector
#
# This leverages k6 to push HTTP requests at the server quickly.
x-otlp-mmap-volume:
  &otlp-mmap-volume
  type: bind
  source: ./export
  target: /otlp/export
services:
  # OpenTelemetry collector actually pull
  otel_collector:
    image: otel/opentelemetry-collector-contrib:0.72.0
    volumes:
      - ./otel-config:/otel-config
    command: ["--config=/otel-config/otel-throughput-config.yaml"]
    ports:
      - "4317:4317"
    depends_on:
      - cadvisor # Avoid starting until cadvisor is up.
  # The actual HTTP server that is instrumented.
  java_http_server:
    image: ghcr.io/jsuereth/mmap-demo:main
    volumes: 
      - ./export:/otlp/export
    environment:
      SDK_MMAP_EXPORTER_FILE: /otlp/export/mmap-throughput.otlp
      HTTP_ENDPOINT_PORT: 8081
    # TODO - share definiton w/ mmap collector
    ports:
      - "8081:8081"
  # Collector for the MMAP sdk file that will send OTLP to the otel collector.
  mmap_collector:
    image: ghcr.io/jsuereth/mmap-collector:main
    depends_on:
      - otel_collector
      - java_http_server
    environment:
      SDK_MMAP_EXPORTER_FILE: /otlp/export/mmap-throughput.otlp
      OTEL_EXPORTER_OTLP_ENDPOINT: http://otel_collector:4317      
    # TODO - share definiton w/ demo
    volumes: 
      - ./export:/otlp/export
  # Load tester for our HTTP server
  k6_loadtester:
    image: grafana/k6:latest
    container_name: k6_loadtester
    command: ["run", "/config/k6-load-test.js"]
    environment:
      TARGET_URL: http://java_http_server:8081/
      VIRTUAL_USERS: 200
    depends_on:
      - java_http_server
    volumes: 
      - ./k6-config:/config
  # cAdvisor (Collects container CPU and Memory metrics)
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - "8090:8080"
    privileged: true
    # Ensures cAdvisor gets enough permissions to monitor the host