global:
  scrape_interval: 5s 

otlp:
  keep_identifying_resource_attributes: true
  promote_resource_attributes:
    - service.instance.id
    - service.name
    - service.namespace
    - service.version
    - cloud.availability_zone
    - cloud.region
    - deployment.environment.name

    # When deploying on Kubernetes, resource attributes used to identify the
    # kubernetes resources in dashboards and alerts.
    - k8s.cluster.name
    - k8s.container.name
    - k8s.cronjob.name
    - k8s.daemonset.name
    - k8s.deployment.name
    - k8s.job.name
    - k8s.namespace.name
    - k8s.node.name
    - k8s.pod.name
    - k8s.replicaset.name
    - k8s.statefulset.name
    - container.name

    # When deploying on VMs, resource attributes used to identify
    # the host in dashboards and alerts.
    - host.name

storage:
  tsdb:
    out_of_order_time_window: 30m

scrape_configs:
  # TODO - do we really need our own metrics?
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']
