name: Build and Publish Docker Images

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  REPO_OWNER: ${{ github.repository_owner }}

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: mmap-demo
            dockerfile: ./java/otlp-mmap/Dockerfile
            context: ./java/otlp-mmap
          - image: mmap-collector
            dockerfile: ./rust/mmap-collector.Dockerfile
            context: ./rust
          - image: mmap-python-demo
            dockerfile: ./python/otlp-mmap-example-server/Dockerfile
            context: .
          # - image: otlp-mmap-python-base
          #   dockerfile: ./rust/python-lib.Dockerfile
          #   context: ./rust
          

    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: setup-buildx
        uses: docker/setup-buildx-action@6524bf65af31da8d45b59e8c27de4bd072b392f5 # v3.8.0

      - name: gh-docker-login
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: extract-meta ${{ matrix.image }}
        id: meta
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96 # v5.6.1
        with:
          images: ${{ env.REGISTRY }}/${{ env.REPO_OWNER }}/${{ matrix.image }}
          tags: |
            type=schedule,pattern=nightly
            type=ref,event=branch
            type=semver,pattern=v{{version}}
            type=sha,format=short

      - name: build-push ${{ matrix.image }}
        id: push
        uses: docker/build-push-action@48aba3b46d1b1fec4febb7c5d0c644b249a11355 # v6.10.0
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          provenance: true
          sbom: true

      - name: report-digest
        run: |
          echo "Image ${{ matrix.image }} pushed with digest: ${{ steps.push.outputs.digest }}"